*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --clr-primary: rgb(34, 34, 34);
  --clr-accent: rgb(255, 100, 26);
}
header {
  padding: 1em;
  background-color: var(--clr-primary);
  box-shadow: 1px 1px 10px 3px white;
}
header a {
  transition: color 0.2s ease-in;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.uk-dropdown {
  background-color: var(--clr-primary) !important;
}
.uk-dropdown a {
  color: var(--clr-accent) !important;
}

.computer_view {
  display: none;
}
.logo {
  width: 30px;
  height: 30px;
}
main {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.description_container {
  padding: 1em;
  font-size: 3rem;
  color: black;
}
.description_container a {
  text-decoration: none;
  color: var(--clr-accent);
}
.company_container {
  padding: 2em;
  background-color: var(--clr-primary);
}
.company_container * {
  color: white;
}
.team_container {
  padding: 2em;
}
.team_container h1 {
  font-weight: bold;
}
footer {
  background-color: var(--clr-primary) !important;
  color: white;
}
@media screen and (min-width: 37.5em) {
  .uk-button-default {
    display: none !important;
  }
  .computer_view {
    display: flex;
    list-style-type: none;
    gap: 2em;
    font-size: x-large;
  }
  .computer_view * {
    text-decoration: none;
    color: var(--clr-accent);
  }
  .team_container {
    font-size: xx-large;
  }
}
@media screen and (min-width: 60em) {
  .landing_container {
    display: flex;
  }
  .landing_container img {
    width: 30%;
    height: 20%;
  }

  header a:hover {
    color: white;
  }
}
